<mat-toolbar color="primary" class="mat-elevation-z6">
    
    <mat-toolbar-row>
        <a mat-button routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions] = "{ exact: true }"><mat-icon>home</mat-icon></a>
        <a mat-button routerLink="/map-component" routerLinkActive="active" [routerLinkActiveOptions] = "{ exact: true }">Map</a>
        <a mat-button routerLink="/page-component" routerLinkActive="active" [routerLinkActiveOptions] = "{ exact: true }">Page</a>
        <!-- fazer ficar raise-button quando modifica o link ativo -->
    </mat-toolbar-row>
</mat-toolbar>